.tab-bar{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  background: white;
  border-top: 1px solid #eaeaef;
  padding: 10px 0 22px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tab-bar button {
  flex: 1;
  border: none;
  background: none;
  font-size: 12px;
  color: #8a8a99;
}